/*Geral*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}

/*Todo o Body*/
.all-container {
    max-width: 1220px;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

/*Cabeçalho*/
header .cabecalho h3 {
    color: #ebbb13;
    text-align: center;
    margin-bottom: 30px;
}

.nav ul li {
    list-style: none;
}

.nav ul {
    display: flex;
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.nav ul li a {
    text-decoration: none;
    color: #ebbb13;
    font-size: 15px;
    font-weight: bold;
    margin: 15px;
    padding: 5px;
    border: 1px solid #3e4796;
    border-radius: 5px;
    background-color: #3e6b4a;
}


.nav ul li a:hover {
    background-color: #13eb4d;
    opacity: .5;
    color: #eb1318;

}

/*Sobre mim*/
main .main-container h1, h2{
    text-align: center;
    color: #ebbb13;
    margin: 10px;
}

main .main-container {
    width: 93%;
    background-color: #3e6b4a;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 15px;
}

main .main-container .eu {
    position: relative;
    text-align: center;
}

main .main-container .eu p a{
    text-decoration: none;
    color: #111;
}

/*Containers*/

.a-container {
    background-color: #894040;
    width: 93%;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 15px;
}

/*Experiência profissional*/

section .exp-container {
    text-align: center;
}

.a-container h1 {
    text-align: center;
    color: #ebbb13;
    margin: 10px;
}

section .exp-container ul li {
    list-style: none;
}

/*Educação*/

.ed-container {
    background-color: #3e6b4a;
}

/*Contacto*/

.contact {
    text-align: center;
}

/*Rodapé*/

footer p {
    text-align: center;
}